# CouchDB Configuration
COUCHDB_USER=admin
COUCHDB_PASSWORD=86c5159d-8950-4489-8d7a-32580490a07a
COUCHDB_SECRET=717d8b92-8d3c-43b7-935b-49cf47a846a7
# Domain configuration (replace with your actual domain)
DOMAIN=obsidian-sync.crenology.com

# SSL Configuration (set to true if you have SSL certificates)
SSL_ENABLED=true
